* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.green {
    height: 793px;
    background-color: green;
    float: left;
}

.red {
    height: 793px;
    background-color: red;
    float: right;
}

.clearfix::before, .clearfix::after {
    content: ' ';
    display: table;
  }
.clearfix::after {
   clear: both;
}

.col-1 {width: 8.33%}
.col-2 {width: 16.66%}
.col-3 {width: 25%}
.col-4 {width: 33.33%}
.col-5 {width: 41.66%}
.col-6 {width: 50%}
.col-7 {width: 58.31%}
.col-8 {width: 66.66%;}
.col-9{width: 74.97%}
.col-10 {width: 83.3%}
.col-11{width: 91.63%}
.col-12{width: 100%}